name: Scheduler Daily

on:
  # cron runs at 03:03 every day
  schedule:
    - cron: '3 3 * * *'
  # manually trigger the workflow
  workflow_dispatch:

jobs:
  VersionCheck:
    runs-on: ubuntu-latest
    outputs:
      main_version: ${{ steps.main.outputs.version }}
      release_version: ${{ steps.release.outputs.version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.1
      - name: Show Python Version
        run: python --version
      - name: Install PyGithub
        run: pip install --upgrade PyGithub
      - name: Run python script to check for updates
        run: python versioncheck.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: read version from file for main branch
        id: main
        shell: bash
        run: |
          main_version=$(jq -r '.version' MAIN.json)
          echo "::set-output name=version::$main_version"
          echo "MAIN: $main_version"
      - name: read version from file for latest release
        id: release
        shell: bash
        run: |
          release_version=$(jq -r '.version' RELEASE.json)
          echo "::set-output name=version::$release_version"
          echo "RELEASE: $release_version"

  Print-Versions:
    runs-on: ubuntu-latest
    needs: VersionCheck
    steps:
      - name: Show versions
        run: |
          echo "MAIN --> ${{ needs.VersionCheck.outputs.main_version }}"
          echo "RELEASE --> ${{ needs.VersionCheck.outputs.release_version }}"

  Build-Main:
    uses: Franky1/Tesseract-OCR-5-Docker/.github/workflows/docker.yml@main
    needs: VersionCheck
    if: ${{ needs.VersionCheck.outputs.main_version != 'None' }}
    with:
      TAG: latest
      BRANCH: ${{ needs.VersionCheck.outputs.main_version }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

  Build-Release:
    uses: Franky1/Tesseract-OCR-5-Docker/.github/workflows/docker.yml@main
    needs: VersionCheck
    if: ${{ needs.VersionCheck.outputs.release_version != 'None' }}
    with:
      TAG: ${{ needs.VersionCheck.outputs.release_version }}
      BRANCH: ${{ needs.VersionCheck.outputs.release_version }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
